<!DOCTYPE html>
<html lang= 'en'>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
        crossorigin="anonymous">
        <title>About</title>
        <link href="main.css" rel="stylesheet"/>
    </head>
    <body>
        <!-- Main Navigation Bar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
            <a class="navbar-brand" href="https://github.com/200413-java-spark/Project-2-Group-1">Project 2</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav my-ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="about">About</a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">Statistics</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="state-averages">State Averages</a>
                            <a class="dropdown-item" href="#">Statistics 2</a>
                            <a class="dropdown-item" href="#">Statistics 3</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <h1>About</h1>

        <h2>Apache Spark Life Expectancy Analysis 0.0.1</h2> 

        <h3>Build</h3>
        <h4>Java</h4>
        <p>mvn clean package</p>
        <p>java - jar project-1-john-1.0.1-SNAPSHOT.war</p>

        <h4>Dockerfile</h4>
        <p>FROM postgres<br>
            ENV POSTGRES_USER mydb<br>
            ENV POSTGRES_PASSWORD mydb<br>
            EXPOSE 5432</p>
        <h4>Docker</h4>
        <p>docker build -t mydb -f ./Dockerfile<br>
            docker run --name mydb -d --rm -p 5432:5432 mydb</p>

        <h3>Usage</h3>
        <h3>Design</h3>
        <h3>Main Algorithm:</h3>

        <h3>Architecture:</h3>
        <h4>**Business Logic Layer:**</h4>
        <li>Java</li>
        <li>Apache Spark</li>
        <li>Spring Boot</li>
        <li>Spring MVC</li>

        <h4>**Data Access Layer:**</h4>
        <li>PostgreSQL</li>
        <li>Spring JPA</li>
        <li>Spring Data</li>

        <h4>**Presentation Layer:**</h4>
        <li>D3</li>
        <li>Bootstrap 4</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>

        <h4>**Business Logic Layer:**</h4>
        <li>Java</li>
        <li>Apache Spark</li>
        <li>Spring Boot</li>
        <li>Spring MVC</li>

        <h4>**Build Tools:**</h4>
        <li>Maven</li>
        <li>Docker</li>
        <li>JUnit</li>
        <li>Tomcat</li>
        <li>AWS - EC2 - S3</li>

        <!-- Here is the start of the website's footer--> 
		<footer class="page-footer">
            <div class="container">
              <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12">
                <h6 class="text-uppercase font-weight-bold">Additional Information</h6>
                <p>Some of the technologies used in the project are:
                    <li>Apache Spark</li>
                    <li>Maven</li>
                    <li>JUnit</li>
                    <li>S3 with AWS/EMR</li>
                    <li>PostgreSQL</li>
                </p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12">
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <p>One N Main St, Houston, TX 77002
                <br/>support.Analysis@Project2.com
                <br/>+ 01 733 567 88
                <br/>+ 01 292 535 23</p>
              </div>
            </div>
            <div class="footer-copyright text-center">© 2020 Copyright: Project2.com</div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>